/* Общие стили */
@font-face {
    font-family: Mulish;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Mulish/Mulish-Regular.woff2") format("woff2"),
         url("../fonts/Mulish/Mulish-Regular.woff") format("woff");
}
@font-face {
    font-family: Mulish;
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Mulish/Mulish-Bold.woff2") format("woff2"),
         url("../fonts/Mulish/Mulish-Bold.woff") format("woff");
}
* {
    box-sizing: border-box;
}
*:focus {
    outline: 2px dotted #898989;
    outline-offset: 2px;
}
body {
    font-family: 'Mulish', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

/* Шапка */
.header {
    padding: 20px 70px 20px 32px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
}
.menu-button {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: 20px;
    height: 17px;
    border: none;
    margin-right: 28px;
    cursor: pointer;
}
.menu-button:hover .menu-line {
    background-color: #ff0000;
}
.menu-button:hover {
    fill: #ff0000;
}
.menu-line {
    display: block;
    background-color: #1F2022;
    width: 20px;
    height: 3px;
    border-radius: 20px;
}
.logo {
    display: block;
    margin-right: 59px;
}
.input-group {
    background: #EBEBEB;
    border-radius: 22px;
    border-radius: 22px;
    margin-right: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
    width: 43.23%;
}
.input-search {
    background: transparent;
    border: none;
    padding: 12px 23px 12px 23px;
    width: 100%;
    outline: none;
}
.button-search {
    width: 19px;
    height: 19px;
    border: none;
    background: transparent;
}
.icon-search {
    fill: #000;
    cursor: pointer;
}
.icons {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.icons-link {
    display: block;
    text-decoration: none;
    opacity: 0.24; 
}
.icons-link:hover {
    opacity: 0.8; 
}
.icons-link:not(:last-child) {
    margin-right: 50px;
}
.icons-link.notifications-counter {
    position: relative;
    opacity: 0.8; 
}
.icons-link .icons-notifications-counter {
    position: absolute;
    top: -7px;
    right: -5px;
    width: 18px;
    height: 18px;
    background-color: #FF0000;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
    color: #FFFFFF;
    opacity: 1;
}
.user {
    margin-left: 45px;
}
.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent;
}
.user-avatar:hover {
    border: 2px solid #FF0000;
}

/* Блок с навигацией */
.sidebar {
    padding-left: 31px;
    position: fixed;
    top: 84px;
    padding-top: 30px;
    height: calc( 100% - 114px) ;
    overflow-y: auto;
    width: 230px;
    background-color: #fff;
    z-index: 99;
}
.nav-menu {
    margin-bottom: 60px;
    padding: 0;
    list-style-type: none;
}
.nav-item {
    margin-bottom: 28px;
}
.nav-link {
    display: flex;
    align-items: center;
    color: #898989;
    text-decoration: none;
}
.nav-link:hover {
    color: #FF0000;
}
.icon-container {
    width: 22px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-link:hover .icon {
    fill: #FF0000;
}
.nav-item .icon {
    fill: #898989;
}
.nav-text {
    margin-left: 12px;
}

.subs-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 30px;
}
.subs-menu {
    padding: 0;
    list-style-type: none;
}
.subs-item {
    margin-bottom: 23px;
}
.subs-link {
    display: flex;
    align-items: center;
    color: #898989;
    text-decoration: none;
}
.subs-link:hover {
    color: #FF0000;
}
.subs-image {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid transparent;
}
.subs-link:hover .subs-image {
    border: 2px solid #FF0000;
}
.subs-text {
    margin-left: 12px;
}

/* Основная часть */
.content {
    width: 100%;
    margin-top: 85px;
    padding-left: 255px;
    padding-top: 29px;
    padding-right: 32px;
}

/* Слайдер 1 */
.channel {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    align-items: center;
}
.channel-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.channel-title {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    color: #19202C;
}
.channel-slider {
    margin-bottom: 49px;
}
.video-thumb {
    position: relative;
    width: 100%;
    height: 150px; 
    border-radius: 14px;
}
.thumbnail {
    width: 100%;
    height: inherit;
    object-fit: cover;
}
.video-duration {
    position: absolute;
    padding: 3px 9px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.3);
    mix-blend-mode: normal;
    border-radius: 12px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
}
.video-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #19202C;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 4px;
}
.video-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}
.video-counter {
    display: flex;
}
.video-views {
    margin-right: 5px;
}
.video-views::after {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    content: '';
    width: 2px;
    height: 2px;
    background-color: #C2C2C2;
    border-radius: 50%;
}
.slider-buttons {
    position: absolute;
    right: 149px;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 66px;
    height: 28px;
}
.channel-button {
    cursor: pointer;
}

/* Слайдер 2 */
.slider-2 {
    margin-bottom: 49px;
}
.video-thumb-2 {
    position: relative;
    width: inherit;
    height: 250px;
    border-radius: 14px;
}

/* Слайдер 3 */
.slider-3 {
    margin-bottom: 49px;
}
.channel-text-additional {
    margin-left: 19px;
    margin-bottom: 11px;
    margin-top: auto;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #C2C2C2;
}
.btn-subscribe {
    position: absolute;
    right: 255px;
    bottom: 24px;
    padding: 10px 20px;
    border: none;
    outline: none;
    height: 40px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    color: #ff0000;
    border: 1px solid #ff0000;
    background-color: #ffffff;
}
.btn-subscribe:hover {
    color: #FFFFFF;
    border: 1px solid #ff0000;
    background-color: #ff0000;
}

.icon-slider-button-left, .icon-slider-button-right {
    background-color: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
}
.icon-slider-button-left:hover, .icon-slider-button-right:hover {
    background-color: #ff0000;
    border-radius: 50%;
}

/* Адаптивность */
.mobile-search {
    display: none;
}
.mobile-sidebar {
    display: none;
}
@media (max-width: 1400px) {
    .slider-buttons {
        right: 10px;
    }
    .btn-subscribe {
        right: 100px;
    }
}
@media (max-width: 1024px) {
    .icons {
        display: none;
    }
    .user {
        margin-left: auto;
    }
    .channel-text-additional {
        display: none;
    }
    .slider-buttons {
        right: 10px;
    }
    .btn-subscribe {
        right: 100px;
    }
}
@media (max-width: 720px) {
    .header {
        padding-right: 32px;
    }
    .menu-button {
        display: none;
    }
    .mobile-search {
        display: block;
        margin-left: auto;
    }
    .input-group {
        position: fixed;
        top: -100px;
        left: 0;
        margin-left: 25px;
        width: calc( 100% - 25px - 32px - 50px + 1px);
        opacity: 0;
        transition: top 0.2s;
    }
    .input-group.is-open {
        top: 18px;
        opacity: 1;
    }
    .user {
        margin-left: 20px;
    }
    .sidebar {
        display: none;
    }
    .content {
        padding-left: 32px;
    }
    .mobile-sidebar {
        display: block;
        position: fixed;
        z-index: 99;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #fff;
    }
    .mobile-sidebar .nav-link {
        display: flex;
        flex-direction: column;
    }
    .mobile-sidebar .nav-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0;
        padding-top: 13px;
        padding-bottom: 11px;
        border-top: 1px solid #f1f1f1;
    }
    .mobile-sidebar .nav-item {
        margin-bottom: 0;
    }
    .nav-text {
        margin-left: 0;
        font-size: 10px;
        line-height: 13px;
    }
    .nav-item {
        margin-bottom: 0;
    }
    .swiper-wrapper {
        display: flex;
        flex-direction: column;
    }
    .swiper-slide {
        margin-bottom: 50px;
    }
    .video-thumb {
        height: 250px;
    }
    .slider-buttons {
        display: none;
    }
}
